body
{
	background-color: lightblue;
	font-family: "georgia";
	margin: 10px 50px 30px 50px;
/*	width: 1200px; */
}
.common
{
	font-size: 25px;
	padding-bottom: 20px;
}
#heading1
{
	font-size: 50px;
	text-align: center;
	color: darkgreen;
	font-family: "candara";
	padding-bottom: 45px;
}
.heading2
{
	font-size: 30px;
	padding-left: 5px;
}
img
{
	/*padding-left: 50px;
	padding-right: 50px; */
	margin-bottom: 50px; 
	box-shadow: 5px 5px 5px 5px grey;
	margin-left: 50px;
	margin-right: 50px; 
}
.orderlist
{
	list-style-type: upper-roman;
	padding-left: 100px;
	font-size: 25px;
	padding-bottom: 20px;
}
.unorderlist
{
	padding-left: 100px;
	list-style-type: "👉";
	font-size: 25px;
	padding-bottom: 20px;
}
li
{
	padding-left: 15px;
}
p > span
{
	font-style: italic;
}
p >span:last-child
{
	text-decoration: underline;
}
p >span:first-child
{
	font-style: normal;
	color: red;
}
#ingredient
{
	background-color: blue;
	border-radius: 20px;
	width: 500px;
	flex-flow: row wrap;
        justify-content: center;
}
#step
{
	background-color: orange;
	border-radius: 20px;
	/*margin: 0px 0px 10px 10px; */ 
	width: 500px;
flex-flow: row wrap;
        justify-content: center;
}
 @media only screen and (min-width: 401px) and (max-width: 750px) {
#thisisbodytag
{
	 background-color: white;
          margin: 0 20px;
}
}
 @media only screen and (min-width: 750px) {
        #thisisbodytag {
          margin: 0 200px;
          background-color: lightblue;
        }
 }
  @media only screen and (max-width: 400px) {
#thisisbodytag
{
	 background-color: orange;
          margin: 0 20px;
}
}